<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.z.finance.tracker.mapper.ConsentMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_consents (user_id, policy_version, platform, ip_address, accepted_at)
        VALUES (#{userId}, #{policyVersion}, #{platform}, #{ipAddress}, #{acceptedAt})
    </insert>

    <select id="findByUserId" resultType="com.z.finance.tracker.entity.UserConsent">
        SELECT * FROM user_consents WHERE user_id = #{userId} ORDER BY accepted_at DESC
    </select>

    <delete id="deleteByUserId">
        DELETE FROM user_consents WHERE user_id = #{userId}
    </delete>

</mapper>
